<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ouster_dome">
  <xacro:include filename="$(find ouster_gazebo)/share/ouster_gazebo/urdf/ouster_common.xacro"/>
  <!-- load parameters from YAML -->
  <xacro:property name="cfg" value="$(xacro.load_yaml $(find ouster_gazebo)/share/ouster_gazebo/config/ouster_dome_sensor.yaml)"/>
  <xacro:ouster_mount prefix="ouster_dome" mesh_file="ouster_dome.dae"/>

  <joint name="ouster_dome_joint" type="fixed">
    <parent link="base_link"/>
    <child link="ouster_dome_link"/>
    <origin xyz="0.12 0 0.28" rpy="0 0 0"/>
  </joint>

  <gazebo reference="ouster_dome_link">
    <sensor type="gpu_ray" name="ouster_dome_sensor">
      <update_rate>${cfg[ouster_dome][rotation_rate]}</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>${cfg[ouster_dome][horizontal_samples]}</samples>
            <min_angle>-${cfg[ouster_dome][horizontal_fov] / 2 * 3.14159 / 180}</min_angle>
            <max_angle>${cfg[ouster_dome][horizontal_fov] / 2 * 3.14159 / 180}</max_angle>
          </horizontal>
          <vertical>
            <samples>${cfg[ouster_dome][vertical_samples]}</samples>
            <min_angle>-${cfg[ouster_dome][vertical_fov] / 2 * 3.14159 / 180}</min_angle>
            <max_angle>${cfg[ouster_dome][vertical_fov] / 2 * 3.14159 / 180}</max_angle>
          </vertical>
        </scan>
        <range>
          <min>${cfg[ouster_dome][range_min]}</min>
          <max>${cfg[ouster_dome][range_max]}</max>
        </range>
      </ray>
      <plugin name="gazebo_ros_ouster_dome" filename="libgazebo_ros_gpu_laser.so">
        <topicName>/ouster_dome/points</topicName>
        <frameName>ouster_dome_link</frameName>
      </plugin>
    </sensor>
  </gazebo>
</robot>
