<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ouster_puck">

  <xacro:include filename="$(find ouster_gazebo)/urdf/ouster_common.xacro"/>

  <xacro:arg name="rotation_rate" default="10.0"/>
  <xacro:arg name="horizontal_samples" default="1024"/>
  <xacro:arg name="vertical_samples" default="16"/>
  <xacro:arg name="horizontal_fov" default="360.0"/>
  <xacro:arg name="vertical_fov" default="33.0"/>
  <xacro:arg name="range_min" default="0.5"/>
  <xacro:arg name="range_max" default="120.0"/>

  <xacro:property name="deg2rad" value="3.14159 / 180"/>
  <xacro:property name="horizontal_fov_rad" value="${horizontal_fov * deg2rad}"/>
  <xacro:property name="vertical_fov_rad" value="${vertical_fov * deg2rad}"/>

  <xacro:ouster_mount prefix="ouster_puck" mesh_file="ouster_puck.dae"/>

  <joint name="ouster_puck_joint" type="fixed">
    <parent link="base_link"/>
    <child link="ouster_puck_link"/>
    <origin xyz="0.15 0 0.2" rpy="0 0 0"/>
  </joint>

  <gazebo reference="ouster_puck_link">
    <sensor type="gpu_ray" name="ouster_puck_sensor">
      <update_rate>${rotation_rate}</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>${horizontal_samples}</samples>
            <min_angle>-${horizontal_fov_rad / 2}</min_angle>
            <max_angle>${horizontal_fov_rad / 2}</max_angle>
          </horizontal>
          <vertical>
            <samples>${vertical_samples}</samples>
            <min_angle>-${vertical_fov_rad / 2}</min_angle>
            <max_angle>${vertical_fov_rad / 2}</max_angle>
          </vertical>
        </scan>
        <range>
          <min>${range_min}</min>
          <max>${range_max}</max>
        </range>
      </ray>
      <plugin name="gazebo_ros_ouster_puck" filename="libgazebo_ros_gpu_laser.so">
        <topicName>/ouster_puck/points</topicName>
        <frameName>ouster_puck_link</frameName>
      </plugin>
    </sensor>
  </gazebo>
</robot>
